# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
typings/*

node_modules
dist
dist-react
dist-electron
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
python/.env
python/build
python/_internal
python/venv
data
__pycache__/
*.pyc

*.py[cod]
python/.playwright-browsers

